name: QMK Build - miniaxe

on:
  push:

env:
  KEYBORD: 'kagizaraya/miniaxe'
  KEYMAP: 'test'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone qmk/qmk_firmware
      uses: actions/checkout@v4
      with:
        repository: 'qmk/qmk_firmware'
        submodules: true
        path: qmk_firmware

    - name: Clone deepprog/qmk_test
      uses: actions/checkout@v4
      with:
        path: 'qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps/test'

    - name: List contents
      run: |
        ls

    - name: List contents of miniaxe/keymaps after clone
      run: |
        ls -la qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps

    - name: List contents of test keymap
      run: |
        ls -la qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps/test

    - name: Install dependencies
      run: |
        curl -fsSL https://install.qmk.fm | sh
        qmk setup

    - name: Compile
      working-directory: qmk_firmware
      run: |
        qmk compile -kb miniaxe -km test

    - name: Run qmk doctor
      working-directory: qmk_firmware
      run: qmk doctor
      continue-on-error: true

    - name: Debug list
      run: |
        ls -la qmk_firmware/.build || true
        find qmk_firmware -type f -name "*.hex" -print || true

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: qmk_firmware/.build/kagizaraya_miniaxe_test.hex
