name: QMK

on:
  push:
    branches:
      - main

defaults:
  run:
    environment:
      KEYBOARD: 'miniaxe'
      KEYMAP: 'default'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - name: Install QMK dependencies
      run: sudo apt-get update && ./util/qmk_install.sh

    - name: Compile keyboard firmware
      run: ./bin/qmk compile -kb $KEYBOARD -km $KEYMAP

    - name: Upload firmware artifacts
      uses: actions/upload-artifact@v2
      with:
        name: firmware
        path: ./.build/*.hex

