name: QMK Build - miniaxe

on:
  push:

env:
  KEYBORD: 'kagizaraya/miniaxe'
  KEYMAP: 'test'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout qmk_firmware (upstream)
      run: |
        rm -rf qmk_firmware
        git clone --depth=1 https://github.com/qmk/qmk_firmware.git qmk_git

    - name: Install dependencies
      working-directory: qmk_firmware
      run: |
       ./util/qmk_install.sh
        curl -fsSL https://install.qmk.fm | sh
        qmk setup
        which avr-gcc

    - name: Clone deepprog/qmk_test
      uses: actions/checkout@v4
      with:
        path: 'qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps/test'

    - name: List contents
      run: |
        ls

    - name: List contents of miniaxe/keymaps after clone
      run: |
        ls -la qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps

    - name: List contents of test keymap
      run: |
        ls -la qmk_firmware/keyboards/kagizaraya/miniaxe/keymaps/test

    - name: Compile
      working-directory: qmk_firmware
      run: make kagizaraya/miniaxe:test
      
    - name: qmk doctor
      run |
        qmk doctor

    - name: Debug list
      run: |
        ls -la qmk_firmware/.build || true
        find qmk_firmware -type f -name "*.hex" -print || true

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: qmk_firmware/.build/kagizaraya_miniaxe_test.hex
