name: QMK

on:
  push:
    branches:
      - main

env:
  KEYBOARD: 'miniaxe'
  KEYMAP: 'default'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - name: Install QMK dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y qmk-qmk-firmware
        qmk setup -y

    - name: Compile keyboard firmware
      run: ./bin/qmk compile -kb ${{ env.KEYBOARD }} -km ${{ env.KEYMAP }}

    - name: Upload firmware artifacts
      uses: actions/upload-artifact@v2
      with:
        name: firmware
        path: ./.build/*.hex
