name: QMK

on:
  push:

env:
  KEYBOARD: 'miniaxe'
  KEYMAP: 'default'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout qmk_firmware (upstream)
      run: |
        rm -rf qmk_firmware
        git clone --depth=1 https://github.com/qmk/qmk_firmware.git qmk_firmware

    - name: Install dependencies
      working-directory: qmk_firmware
      run: ./util/qmk_install.sh

    - name: Compile
      working-directory: qmk_firmware
      run: |
          ls
          cd qmk_firmware
          make ${{ env.KEYBOARD }}:${{ env.KEYMAP }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: qmk_firmware/.build/*.hex
